/**
 * Maps Page
 */

@import '../../styles/common/variables';
@import '../../styles/common/mixins';
app-maps {
  #buttons {
    left: 0;
    right: 0;
    position: absolute;
    z-index: 999;
    background-color: $mdc-white-dark;
    .btn-group>button {
      margin-right: 2px;
    }
  }
  #maps {
    height: 100%;
    #map {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
