@mixin theme-styles($colors) {
  .navbar {
    background-color: map-get($colors, primary) !important;
  }
  .footer {
    background-color: map-get($colors, secondary) !important;
    .copy {
      color: map-get($colors, light);
    }
  }
}
