/**
 * Footer
 */

@import '../../styles/common/variables';
@import '../../styles/common/mixins';
app-footer {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
    text-align: center;
  }
}
